<?xml version="1.0"?>
<robot name="my_new_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find my_new_robot)/my_robot_description/urdf/materials.xacro"/>
    <xacro:include filename="$(find my_new_robot)/my_robot_description/urdf/robot_core.xacro"/>
    <xacro:include filename="$(find my_new_robot)/my_robot_description/urdf/gazebo_control.xacro"/>

</robot>