<?xml version="1.0"?>
<launch>
    <arg name="rvizconfig" default="$(find my_new_robot)/my_robot_slam/rviz/map_measurement.rviz"/>  
    
    <arg name="map_file" default="$(find my_new_robot)/my_robot_slam_new/maps/102h6-2.yaml"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/> 
    
</launch>