<?xml version="1.0"?>
<launch>
    <arg name="model" default="my_new_robot"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_new_robot)/my_robot_gazebo/worlds/room1.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find my_new_robot)/my_robot_description/urdf/robot.urdf.xacro'"/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="rate" value="50"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" value="50"/>
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model my_new_robot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find my_new_robot)/my_robot_slam/rviz/slam.rviz"/>  

    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <rosparam command="load" file="$(find my_new_robot)/my_robot_slam/config/gmapping_params.yaml"/>
    </node>

    <!-- <node name="slam_karto_pub" pkg="slam_karto" type="slam_karto" output="screen">
        <rosparam command="load" file="$(find my_new_robot)/my_robot_slam/config/karto_params.yaml"/>
    </node> -->

</launch>
