<launch>
  <!-- Arguments -->
  
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
  <arg name="use_DWA" default="true"/>
  <arg name="use_TEB" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" if="$(arg use_DWA)"/>
    <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" if="$(arg use_TEB)"/> -->
    <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/dwa_local_planner_params.yaml" command="load" if="$(arg use_DWA)"/>
    <!-- <rosparam file="$(find my_new_robot)/my_robot_navigation_new/param/teb_local_planner_params.yaml" command="load" if="$(arg use_TEB)"/> -->
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
</launch>