<launch>
  <!-- Arguments -->
  <!-- <arg name="map_file" default="$(find my_new_robot)/my_robot_slam_new/maps/102H6_karto_11-5.yaml"/> -->
  <arg name="map_file" default="$(find my_new_robot)/my_robot_slam_new/maps/test1.yaml"/>
  <arg name="rvizconfig" default="$(find my_new_robot)/my_robot_navigation/rviz/navigation.rviz"/>
  <arg name="move_forward_only" default="false"/>
  
  <!-- rviz -->
  <include file="$(find my_new_robot)/my_robot_description/launch/urdf.launch">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
  </include>

  <!-- odometry -->
  <node name="odom_pub" pkg="my_new_robot" type="odometry.py"/>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find my_new_robot)/my_robot_navigation_new/launch/amcl_new.launch"/>

  <!-- move_base -->
  <include file="$(find my_new_robot)/my_robot_navigation_new/launch/move_base_new.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

</launch>
